*{
    margin: 0;
    padding: 0;
}
body {
    background: #e2e1e0;
    text-align: center;
  }
header{
    background-color: silver;
    height: 50vh;
  text-align: center;
}
.header-title{
    padding-top: 4rem;
}
.header-paragrath{
    padding: 20px;
}
#welcome-section{
    padding-top: 20px;
}
#projects {
    height: 50vh;
    text-align: center;
    margin-right: 10%;

}
#projects h3{
    margin-top: 30px;
}
.container  {
    margin: 3%;
    display: flex;
    justify-content: center;
    
}
.container .card{
    padding: 10%;
    text-align: left;
    box-shadow: #888888 #888888 #888888;

}
.container .card h4{
    padding-bottom: 10px;
    
}

  
  .card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: auto;
    margin: 1rem;
    position: relative;
    width: 200px;
    padding: 20px!important;
  }
  
  .card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  
  .card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
