*{
    margin: 0;
    padding: 0;
}
header{
    background-color: silver;
    height: 50vh;
  text-align: center;
}
.header-title{
    padding-top: 4rem;
}
.header-paragrath{
    padding: 20px;
}
#welcome-section{
    padding-top: 20px;
}
